body {
  position:relative;
  overflow-x: hidden;
}

.container-slider {
  position: relative;
  overflow-x: visible;
}

.slide-enter-active, .slide-leave-active, .slideback-enter-active, .slideback-leave-active {
  position: absolute;
  width: 100%;
  transition: all 1.5s;
  top: 0;
}

.slide-enter-active {
  left: 150%;
  opacity: 0.25;
}

.slide-leave-active, .slideback-leave-active {
  left: 0;
  opacity: 1;
}

.slideback-enter-active {
  left: -150%;
  opacity: 0.25;
}

.slide-enter-to, .slideback-enter-to {
  left: 0;
  opacity: 1;
}

.slide-leave-to {
  left: -150%;
  opacity: 0.25;
}

.slideback-leave-to {
  left: 150%;
  opacity: 0.25;
}

#PROTECTION_VIGNE::-moz-progress-bar {
  background-color: #f39c12;
}

#FERTILISATION::-moz-progress-bar {
  background-color: #3498db;
}

#BIODIVERSITE::-moz-progress-bar {
  background-color: #2ecc71;
}
