<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Autodiagnostic</title>
    <link rel="stylesheet" href="lib/vendor/bootstrap-5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/vendor/bootstrap-icons-1.6.1/bootstrap-icons.css" />
    <script type="text/javascript" src="lib/vendor/vuejs-3.2.20/vue.global.js"></script> <!-- version de dev -->
    <script type="text/javascript" src="data/questionnaire.js"></script>
  </head>
  <body>
    <div id="questionnaire" class="col-6 mx-auto pb-3">
      <button type="button" class="btn btn-sm btn-link position-absolute top-0 end-0" v-on:click="reset">(recommencer le questionnaire)</button>
      <h1 class="text-center mt-5 mb-3">{{ questionnaire.libelle }}</h1>
      <div class="text-center">
        <p class="mb-5">
          {{ questionnaire.complement_information }}
        </p>
      </div>

      <section v-show="indexCourant === null && !isTermine" class="text-center">
        <button type="button" class="btn btn-primary btn-lg text-center" v-on:click="gotoquestion(0)">Démarrer le questionnaire</button>
      </section>

      <section v-for="(question, index) in questionnaire.questions" class="questions" v-show="indexCourant === index">
        <h2 class="h4 bg-light p-3"><small class="opacity-50">{{ index + 1  }}.</small> {{ question.libelle }}</h2>
        <div class="list-group my-4">
          <label v-for="reponse in question.reponses" class="list-group-item list-group-item-action py-3" role="button">
            <input v-model="reponses[index]" class="form-check-input me-1" v-bind:name="question.id" type="radio" v-bind:value="reponse.id">
            {{ reponse.libelle }}
          </label>
        </div>
        <p class="bg-light text-muted small">
          <i class="bi bi-info-circle"></i>
          {{ question.complement_information }}
        </p>
        <div class="mt-4 row">
          <div class="col-3">
            <button type="button" z-index="-1" class="btn btn-light" v-if="index-1 >= 0" v-on:click="gotoquestion(index - 1)"><span class="bi-chevron-compact-left"></span>Précédent</button>
          </div>
          <div class="col-6 pt-2">
            <div class="progress">
              <div class="progress-bar" role="progressbar" v-bind:style="'width: ' + getprogression() + '%;'" aria-valuemin="0" aria-valuemax="100">{{ questionCouranteKey + 1 }}/{{ questionnaire.questions.length }}</div>
            </div>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-primary float-end" v-if="index+1 < questionnaire.questions.length" v-on:click="gotoquestion(index + 1)">Suivant<span class="bi-chevron-compact-right"></span></button>
            <button type="button" class="btn btn-success float-end" v-if="index+1 >= questionnaire.questions.length" v-on:click="terminer()">Terminer</button>
          </div>
        </div>
      </section>

      <section v-show="isTermine">
        <p class="lead text-center">Bravo vous avez terminé le questionnaire !<br /><br /><a class="btn btn-primary btn-lg">Voir les résultats<span></span></a></p>
      </section>

    </div>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
