@font-face {
  font-family: 'Roboto Slab';
  src: url('/font/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --app-red: #964320;
  --app-yellow: #EDA103;
  --app-dark: #1C2436;
  --app-light-blue: #65707E;
  --app-blue: #4B5767;
  --app-gold: #C29140;
  --app-grey: #617080;
  --app-title-font-family: 'Roboto Slab', serif, Arial;
  --app-font-family: 'Trade Gothic', Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--app-title-font-family);
  color: var(--app-dark);
}

.text-muted {
  color: var(--app-grey) !important;
}

body {
  position:relative;
  overflow-x: hidden;
  font-family: var(--app-font-family)
}

.bodyblurize {
  filter: blur(4px);
  padding-top:20px;
}

.decolorize {
  filter: grayscale(100%);
}

.categorie {
  cursor: pointer;
}

.question {
}

.question .question-title {
  margin-bottom: -40px;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: intrinsic;
  position: relative;
  z-index: 2;
}

.question .question-content {
  padding: 10px;
  padding-top: 40px;
  border: 1px solid lightgrey;
  border-left: 5px solid;
}

.question .question-content img {
  max-height: 200px;
}

.cursor-help {
  cursor: help;
}

.container-slider {
  position: relative;
  overflow-x: visible;
}

.slide-enter-active, .slide-leave-active, .slideback-enter-active, .slideback-leave-active {
  position: absolute;
  width: 100%;
  transition: all 1.5s ease;
  top: 0;
}

.slide-enter-active {
  left: 100%;
  opacity: 0.25;
}

.slide-leave-active, .slideback-leave-active {
  left: 0;
  opacity: 1;
}

.slideback-enter-active {
  left: -100%;
  opacity: 0.25;
}

.slide-enter-to, .slideback-enter-to {
  left: 0;
  opacity: 1;
}

.slide-leave-to {
  left: -100%;
  opacity: 0.25;
}

.slideback-leave-to {
  left: 100%;
  opacity: 0.25;
}

/* reset pour chrom* */
progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#INFORMATIONS::-webkit-progress-bar {
  background-color: var(--app-red)80;
}

#INFORMATIONS::-webkit-progress-value {
  background-color: var(--app-red);
}

#INFORMATIONS::-moz-progress-bar {
  background-color: var(--app-red);
}

#CERTIFICATION::-webkit-progress-bar {
  background-color: var(--app-light-blue)80;
}

#CERTIFICATION::-webkit-progress-value {
  background-color: var(--app-light-blue);
}

#CERTIFICATION::-moz-progress-bar {
  background-color: var(--app-light-blue);
}

#PROTECTION_VIGNE::-webkit-progress-bar {
  background-color: var(--app-gold)80;
}

#PROTECTION_VIGNE::-webkit-progress-value {
  background-color: var(--app-gold);
}

#PROTECTION_VIGNE::-moz-progress-bar {
  background-color: var(--app-gold);
}

#FERTILISATION::-webkit-progress-bar {
  background-color: var(--app-dark)80;
}

#FERTILISATION::-webkit-progress-value {
  background-color: var(--app-dark);
}

#FERTILISATION::-moz-progress-bar {
  background-color: var(--app-dark);
}

#BIODIVERSITE::-webkit-progress-bar {
  background-color: var(--app-yellow)80;
}

#BIODIVERSITE::-webkit-progress-value {
  background-color: var(--app-yellow);
}

#BIODIVERSITE::-moz-progress-bar {
  background-color: var(--app-yellow);
}

#EAU::-webkit-progress-bar {
  background-color: var(--app-blue)80;
}

#EAU::-webkit-progress-value {
  background-color: var(--app-blue);
}

#EAU::-moz-progress-bar {
  background-color: var(--app-blue);
}

#RECYCLAGE::-webkit-progress-bar {
  background-color: var(--app-light-blue)80;
}

#RECYCLAGE::-webkit-progress-value {
  background-color: var(--app-light-blue);
}

#RECYCLAGE::-moz-progress-bar {
  background-color: var(--app-light-blue);
}

#PLASTIQUE::-webkit-progress-bar {
  background-color: var(--app-red)80;
}

#PLASTIQUE::-webkit-progress-value {
  background-color: var(--app-red);
}

#PLASTIQUE::-moz-progress-bar {
  background-color: var(--app-red);
}

#resultats-title {
  background-color: var(--app-red);
  color: #fff;
}

.bg-app-red {
  color: #FFFFFF;
  background-color: var(--app-red)
}

.bg-app-blue {
  color: #FFFFFF;
  background-color: var(--app-blue)
}

.bg-app-light-blue {
  color: #FFFFFF;
  background-color: var(--app-light-blue)
}

.bg-app-gold {
  color: #FFFFFF;
  background-color: var(--app-gold)
}

.bg-app-yellow {
  color: #111111;
  background-color: var(--app-yellow)
}

.bg-app-dark {
  color: #FFFFFF;
  background-color: var(--app-dark)
}

#resultats-radar-chart {
  max-height: 400px;
}

#resultats-content h3 {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: intrinsic;
  padding: .25rem .5rem;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

#administration-questions i.bi-eye {
  cursor: pointer;
}

.tables-formule {
  opacity: .5;
}

.tables-formule.active {
  opacity: 1;
}

.tables-formule .table-content {
  padding: 1rem 0;
  text-align: center;
}

#header h1 {
  font-size: 2.15rem !important;
}

.btn {
  border-radius: 0;
  padding: .5rem .75rem
}

a:hover {
    color: var(--app-dark);
    text-decoration: underline;
}

a {
    color: var(--app-gold);
    text-decoration: none;
}


.nav-tabs .nav-link {
    color: var(--app-gold);
}
.nav-tabs .nav-link:hover {
    color: var(--app-dark);
    text-decoration: none;
}
.nav-tabs .nav-link.active {
    color: var(--app-dark);
}

.btn-primary {
  background-color: var(--app-gold);
  border-color: var(--app-gold);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--app-dark);
  border-color: var(--app-dark);
  text-decoration: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: var(--app-dark);
    border-color: var(--app-dark);
}

.btn-outline-primary,
.btn-light {
    color: var(--app-dark);
    background-color: #fff;
    border-color: var(--app-dark);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-light:hover,
.btn-light:focus {
    color: #fff;
    background-color: var(--app-dark);
    border-color: var(--app-dark);
}

.list-group-item.active,
.form-check-input:checked {
  background-color: var(--app-gold);
  border-color: var(--app-gold);
}

.categorie h2 {
  color: inherit;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
.form-control:focus
{
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    outline-color: none !important;
    border-color: #ced4da !important;
}
