body {
  position:relative;
  overflow-x: hidden;
}

.categorie {
  cursor: pointer;
}

.question {
}

.question .question-title {
  margin-bottom: -40px;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: intrinsic;
  position: relative;
  z-index: 2;
}

.question .question-content {
  padding: 10px;
  padding-top: 40px;
  border: 1px solid lightgrey;
  border-left: 5px solid;
}

.cursor-help {
  cursor: help;
}

.container-slider {
  position: relative;
  overflow-x: visible;
}

.slide-enter-active, .slide-leave-active, .slideback-enter-active, .slideback-leave-active {
  position: absolute;
  width: 100%;
  transition: all 1.5s;
  top: 0;
}

.slide-enter-active {
  left: 150%;
  opacity: 0.25;
}

.slide-leave-active, .slideback-leave-active {
  left: 0;
  opacity: 1;
}

.slideback-enter-active {
  left: -150%;
  opacity: 0.25;
}

.slide-enter-to, .slideback-enter-to {
  left: 0;
  opacity: 1;
}

.slide-leave-to {
  left: -150%;
  opacity: 0.25;
}

.slideback-leave-to {
  left: 150%;
  opacity: 0.25;
}

/* reset pour chrom* */
progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#CERTIFICATION::-webkit-progress-bar {
  background-color: #8adbaf;
}

#CERTIFICATION::-webkit-progress-value {
  background-color: #2ecc71;
}

#PROTECTION_VIGNE::-webkit-progress-bar {
  background-color: #eec37f;
}

#PROTECTION_VIGNE::-webkit-progress-value {
  background-color: #f39c12;
}

#FERTILISATION::-webkit-progress-bar {
  background-color: #8dc1e4;
}

#FERTILISATION::-webkit-progress-value {
  background-color: #3498db;
}

#BIODIVERSITE::-webkit-progress-bar {
  background-color: #debdd3;
}

#BIODIVERSITE::-webkit-progress-value {
  background-color: #c582af;
}

#PROTECTION_VIGNE::-moz-progress-bar {
  background-color: #f39c12;
}

#CERTIFICATION::-moz-progress-bar {
  background-color: #2ecc71;
}

#FERTILISATION::-moz-progress-bar {
  background-color: #3498db;
}

#BIODIVERSITE::-moz-progress-bar {
  background-color: #c582af;
}

#resultats-title {
  background-color: #f39c12;
  color: #fff;
}

#resultats-radar-chart {
  max-height: 400px;
}

#resultats-content h3 {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: intrinsic;
  padding: .25rem .5rem;
}
