<div id="questionnaire">

  <div id="progress-bar" class="progress position-fixed top-0 w-100" style="height: 0.5rem;">
    <progress v-for="categorie in categories" v-bind:id="categorie.id" v-bind:style="'width: ' + calculateCategorieWidth(categorie) + '%; background: ' + categorie.opacite" v-bind:value="updateCategorieProgress(categorie)" max="100"></progress>
  </div>

  <div class="col-6 mx-auto pb-3">
    <h1 class="text-center mt-4 mb-5">{% questionnaire.libelle %}</h1>

    <transition-group tag="div" class="container-slider" v-bind:name="(indexCourant > indexPrecedent) ? 'slide' : (indexCourant < indexPrecedent) ? 'slideback' : 'slidestatic'">

      <section id="page_home" v-show="indexCourant == -1" class="text-center" key="-1">
        <p class="mb-5 fs-5">
          {% questionnaire.complement_information %}
        </p>

        <div class="mb-5 p-2 bg-light border rounded">
          <p class="text-center m-0">
          <i class="bi-journal-check" role="img" aria-label="Questions répondues"></i> Vous avez répondu à {% getReponsesIds().length %} question(s) sur un total de {% getInitialNbQuestions() %}.
          </p>
        </div>

        <div class="col-md-8 mx-auto">
          <p class="text-center lead">
            Plusieurs choix s'offrent à vous :
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-danger" v-on:click="reset">
              <i class="bi-exclamation-triangle-fill"></i> Recommencer le questionnaire
            </button>
            <button v-if="getReponsesIds().length == 0" class="btn btn-primary" v-on:click="deplacer(0)">Commencer le questionnaire</button>
            <button v-else class="btn btn-primary" v-on:click="deplacer(getQuestionIndex('PROTECTION_VIGNE'))">Continuer le questionnaire</button>
          </div>
        </div>
      </section>

      <section v-for="(question, index) in getQuestions()" v-show="indexCourant == index" v-bind:key="index" v-bind:id="'question_' + question.id">
        <div v-if="question.type === 'categorie'" class="p-5 categorie" v-bind:style="'color: ' + question.couleur_texte + '; background-color: ' + question.couleur + ';'" v-on:click="deplacer(index+1)">
          <h2 class="py-5 m-0"><span class="bi-chevron-right">{% question.libelle %}</span></h2>
          <p class="pb-5 m-0">
            {% question.complement_information %}
          </p>
        </div>
        <div v-if="question.type === 'question'" class="ps-2 question">
          <div class="question-title">
            <h2 class="h4 p-3" v-bind:style="'color: ' + question.categorie_couleur_texte + '; background-color: ' +  question.categorie_couleur + ';'"><strong class="opacity-75">{% question.num + 1  %}.</strong> {% question.libelle %}</h2>
          </div>
          <div class="question-content" v-bind:style="'border-left-color: ' +  question.categorie_couleur + ';'">
            <p v-if="question.complement_information" class="bg-light p-2 text-muted small">
              {% question.complement_information %}
            </p>
            <div class="list-group my-4" v-if="question.reponses">
              <label v-for="reponse in question.reponses" class="list-group-item list-group-item-action py-3" v-bind:class="{ active: reponses[question.id] == reponse.id }" role="button">
                <input v-if="question.type_reponse === 'checkbox'" v-model="reponses[question.id]" v-bind:id="reponse.id" class="form-check-input me-1" type="checkbox" v-bind:value="reponse.id" v-on:change="storeReponses">
                <input v-else v-model="reponses[question.id]" class="form-check-input me-1" v-on:click="deplacer(index + 1)" v-bind:name="question.id" type="radio" v-bind:value="reponse.id" v-on:change="storeReponses">
                {% reponse.libelle %}
              </label>
            </div>
            <div class="my-4 input-group" v-else>
              <input v-model="reponses[question.id]" type="number" class="form-control" v-bind:name="question.id" v-on:change="storeReponses"/>
              <span class="input-group-text">.00</span>
            </div>
            <div class="d-grid d-md-flex justify-content-end my-4">
              <button class="btn btn-outline-primary" v-on:click="nonConcerne(index)">Non concerné</button>
            </div>
          </div>
        </div>
      </section>

      <section v-show="isTermine" v-bind:key="nombreQuestionsTotal" class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold"><span class="bi bi-hand-thumbs-up"></span> Bravo !</h1>
        <p class="fs-4">Vous êtes arrivé à la fin du questionnaire.</p>

        <div class="my-5 bg-light border rounded">
          <p class="text-center my-5" v-if="hasQuestionsEnAttentesReponses()">
            Vous n'avez pas répondu à l'ensemble du questionnaire.<br />
            <button type="button" class="btn btn-warning mt-2" v-on:click="passerQuestionsEnAttentesReponses()">Répondre aux questions non repondues</button>
          </p>
        </div>

        <div class="col-md-8 mx-auto">
          <p class="text-center lead">
            Vous pouvez vérifier vos réponses avant de valider votre auto-diagnostic, ou confirmer et voir vos résultats.
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-secondary" v-on:click="passerToutesQuestions()">Vérifier mes réponses</button>
            <a v-show="hasQuestionsEnAttentesReponses()" class="btn btn-primary disabled" aria-disabled="true" href="#">Voir les résultats</a>
            <form name="synthetiserForm" v-show="!hasQuestionsEnAttentesReponses()" action="/synthetiser" method="post" enctype="multipart/form-data">
              <input class="d-none" type="file" id="jsonReponses" name="jsonReponses" accept=".json,application/json">
              <button type="button" v-on:click="synthetiser()" class="btn btn-success">Voir les résultats</button>
            </form>
          </div>
        </div>
      </section>

    </transition-group>

    <div class="fixed-bottom shadow bg-light row" v-if="indexCourant > -1 && !isTermine">
      <div class="col-6 pt-2 pb-2 mx-auto">
        <div class="row">
          <div class="col-6">
            <button type="button" z-index="-1" title="Retour au début" class="btn btn-secondary me-2" v-on:click="intro()"><span class="bi bi-chevron-double-left"></span>Retour au début</button>
            <button type="button" z-index="-1" class="btn btn-light border" v-on:click="deplacer(indexCourant - 1)"><span class="bi bi-chevron-compact-left"></span>Précédent</button>
          </div>
          <div class="col align-self-center">
            <span class="text-muted">
              <i v-if="modeQuestionsNonRepondues" class="bi-file cursor-help" title="Mode non répondues"></i>
              <i v-else class="bi-file-text cursor-help" title="Mode vérification"></i>
              Progression : {% getProgress() %}%</span>
          </div>
          <div class="col-3">
            <button type="button" class="btn float-end" v-bind:style="'color: ' + getCategorieTexteCouleur(indexCourant) + '; background-color: ' + getCategorieCouleur(indexCourant) + ';'" v-if="indexCourant+1 < nombreQuestionsTotal" v-on:click="deplacer(indexCourant + 1)">Suivant<span class="bi-chevron-compact-right"></span></button>
            <button type="button" class="btn btn-success float-end" v-if="indexCourant+1 >= nombreQuestionsTotal" v-on:click="terminer()">Terminer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
